@import "tailwindcss";

:root {
	--theme: #8e51ff;
}

/* .react-datepicker .react-datepicker__day--selected {
	border-radius: 100% !important;
	outline: none !important;
	background-color: #8e51ff !important;
	color: #fff !important;
}

.react-datepicker__day:hover {
	background-color: #a786e2 !important;
	border-radius: 100% !important;
	color: #fff !important;
	font-weight: 600 !important;
}

.react-datepicker {
     border-radius: 12px !important;
     border: 2px solid #151516 !important;
     font-family: inherit !important;
	gap: 20px !important;
	width: 300px !important;
}

.react-datepicker__week  {
     display: flex;
     gap: 9px;
     margin-bottom: 8px;
}

.react-datepicker__day-names{
	display: flex;
	gap: 9px;
	margin-bottom: 8px;
}

.react-datepicker__day-name{
	font-weight: 600;
} */